<!DOCTYPE html>
<html>
  <head>
    <title>My Skills</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><a href="/skills">&lt; Back</a></li>
        </ul>
      </nav>
      <h1>Add Skill</h1>
      <form action="/skills" method="POST">
        <label for="name">Skill Name:</label><br />
        <input type="text" name="name" />
        <button type="submit">Save Skill</button>
      </form>
    </main>
  </body>
</html>
