<!DOCTYPE html>
<html>
  <head>
    <title>My Skills</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <main>
      <a href="/skills">My Skills</a>
    </main>
  </body>
</html>
