<!DOCTYPE html>
<html>
  <head>
    <title>Where can I get lunch around here?</title>
    <link rel="stylesheet" href="stylesheet.css" />
  </head>
  <body>
    <main>
      <nav>
        <ul>
          <li><a href="/skills">&lt; Back</a></li>
        </ul>
      </nav>

      <hgroup>
        <h1><%= skill.name %></h1>
        <h2>
          <strong>Expertise: <%= skill.expertise %></strong> -
          <small>Years of Experience: <%= skill.yearsExperience %></small>
        </h2>
      </hgroup>

      <h6>Is currently using? <%= eatery.address %></h6>
    </main>
  </body>
</html>
